<?doctype html?>
<html ng-app="TintoApiTest">
	<head>
		<title>Test of tinto-api</title>
		<link rel="stylesheet" href="test.css"></link>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>
		<script type="text/javascript" src="tinto-api.js"></script>

		<script type="text/javascript" src="test.js"></script>
	</head>
	<body ng-controller="TintoApiTestController">
		<div>
			<button ng-click="startTests()">Start tests</button>
			<button ng-click="resetTests()">Reset tests</button>
		</div>
		<h1>Users.get</h1>
		<table>
			<thead>
				<tr><td>User ID</td><td>User Name</td><td>$timestamp</td><td>$responsetime (ms)</td></tr>
			</thead>
			<tr ng-if="user"><td>{{user.id}}</td><td>{{user.name}}</td><td>{{user.$timestamp | date : 'HH:mm:ss'}}</td><td>{{user.$responsetime}}</td></tr>
			<tr ng-if="user2"><td>{{user2.id}}</td><td>{{user2.name}}</td><td>{{user2.$timestamp | date : 'HH:mm:ss'}}</td><td>{{user2.$responsetime}}</td></tr>
		</table>

		<h1>Users.query ({{users.length}}) - subscribed to changes</h1>
		<p>{{lastAction}}</p>
		<table>
			<thead>
				<tr><td>User ID</td><td>User Name</td><td>$timestamp</td><td>$responsetime (ms)</td></tr>
			</thead>
			
			<tr ng-repeat="u in users | orderBy: 'id'" class="animate" animate-on-change="u.$timestamp"><td>{{u.id}}</td><td>{{u.name}}</td><td>{{u.$timestamp | date : 'HH:mm:ss'}}</td><td>{{u.$responsetime}}</td></tr>
		</table>
	</body>
</html>